<div class="container-fluid">
  <div class="row">
    <div class=" col-md-6">
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
           <th>Username</th>
            <th>Email</th>
            <th>address</th>
             <th>phone</th>
             <th>Website</th>
             <th>Company</th>
        </tr>
        <tr *ngFor ="let a of data">
          <td> {{a.name}}</td>
          <td> {{a.username}}</td>
          <td> {{a.email}}</td>
          
       
          <td>{{a.address.street}}</td>
          <td>{{a.phone}}</td>
          <td>{{a.website}}</td>
          <td>{{a.company.name}}</td>
        </tr>
      </table>

    </div>
  </div>

</div>